@model List<Course>
@foreach (Course crs in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-course">
            <div class="course-img">
                <a asp-controller="Courses" asp-action="Detail" asp-route-id="@crs.Id">
                    <img src="~/img/course/@crs.ImageUrl" alt="course">
                    <div class="course-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
            </div>
            <div class="course-content">
                <h3><a asp-controller="Courses" asp-action="Detail" asp-route-id="@crs.Id">@crs.Name</a></h3>
                <p>@((crs.Description.Length<30)?crs.Description:crs.Description.Substring(0,111))</p>
                <a class="default-btn" asp-controller="Courses" asp-action="Detail" asp-route-id="@crs.Id">read more</a>
            </div>
        </div>
    </div>
}

